@{
    ViewData["Title"] = "Home Page";
    Layout = Layout = "~/Views/Shared/_LayoutLogIn.cshtml";
}

<div class="full-page">
    <button class="btn btn-primary m-2" onclick="window.location.href='CustomerDetails/CustomerLogIn'"> User </button>
    <button class="btn btn-primary m-2" onclick="window.location.href='Retailer/RetailerLogIn'"> Retailer </button>
</div>
