@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = Layout = "~/Views/Shared/_LayoutLogIn.cshtml";
}

<div class="error-msg-bg">
    <p class="error-msg"> Please check the details you have provided </p>

    <button class="btn btn-primary" onclick="window.location.href='RetailerLogIn'"> Back to LogIn Page</button>
</div>