<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
       <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdminFinal.styles.css" asp-append-version="true" />
</head>
<body>
  
     <header>
        <nav class="navbar navbar-expand-lg navbar-fixed navbar-light nav-bg m-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" asp-action="Index2" asp-controller="Home" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-action="AdminProfile" asp-controller="Admin">Admin</a>
            </li> 
            <li class="nav-item">
             <a class="nav-link" asp-action="AdminRetailer" asp-controller="Admin"> Retailer list</a>
            </li>
            <li class="nav-item">
                 <a class="nav-link" asp-action="ProductsList" asp-controller="Admin"> Products list</a>
             </li>
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" asp-action="GetProductsByCategory"  asp-route-category="Men" asp-controller="Home">Men's Wear</a></li>
                <li><a class="dropdown-item" asp-action="GetProductsByCategory" asp-route-category="Women" asp-controller="Home">Women Wear </a></li>
                <li><a class="dropdown-item" asp-action="GetProductsByCategory" asp-route-category="Cosmetics" asp-controller="Home">Cosmetics</a></li>
              </ul>
            </li>              
             <li class="nav-item">
              <a class="nav-link" asp-action="AdLogIn" asp-controller="Admin">Log Out</a>
            </li>
          </ul>      
    </div>
  </div>
</nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
